body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;

  background: url("images/auth-bg.avif") no-repeat center center/cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


.auth-container {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
  padding: 30px;
  width: 600px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #c08484;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #c08484;
}

.auth-container a {
  color: #c08484;
  text-decoration: none;
}
